#title {
  padding-top: 20vh;
  font-size: 9.0rem;

  @media screen and (max-width: 960px) {
    background-size: cover;
  }

  h1 {
    font-weight: 600;
    font-size: 10.0rem;
    width: fit-content;
    margin: auto;
    text-shadow:
      2px 2px 5px black,
      -2px 2px 5px black,
      2px -2px 5px black,
      -2px -2px 5px black;

    @media (max-width: 960px) {
      font-size: 15vw;
    }
  }
}

@media (min-width: 960px) {
  .grey-section {
    background-color: transparent;
    min-height: 100%;
    position: relative;
    overflow: hidden;

    &::before {
      background-image: url(src/assets/images/style-images/pvc-pipes.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-position: bottom right;

      background-color: black;
      position: fixed;

      content: '';
      height: 100%;
      left: 0;
      top: 0;
      width: 100%;
      will-change: transform;
      z-index: -1;
    }
  }
}

.description {
  padding: 50px 70px;
  line-height: 3.5rem;
  background-color: white;

  @media (max-width: 960px) {
    padding: 25px;
  }
}
