<div id="wrapper">
  <section id="title" class="grey-section">
    <!-- [ngStyle]="(isHandset$ | async) && {'background-image': 'url(assets/static/images/style-images/pvc-pipes.jpg)'}"> -->
    <div class="text-center">
      <h1 class="jaeggers text-uppercase">Classes</h1>
    </div>
  </section>

  <section>
    <div class="container mx-auto col-10 col-md-8">
      <div class="row">
        <div class="col description text-center">
          Entdecke die beeindruckende Welt unserer dynamischen Trainingsstunden, bei denen das
          Abenteuer am Whiteboard beginnt. Hier enthüllen wir den Plan für die spannendste Stunde
          deines Tages und erläutern das Workout mit all seinen Facetten. In gemeinsamer Motivation
          starten wir mit einem aufregenden Warm-Up, bevor wir uns intensiv mit den erforderlichen
          Techniken beschäftigen, um das Workout und die Bewegungsabläufe optimal auf deine
          individuellen Bedürfnisse zuzuschneiden. Anschließend stürzen wir uns voller Elan in das
          actionreiche Workout und lassen den Körper schließlich bei einem harmonischen Cool-Down
          gemeinsam zur Ruhe kommen.
        </div>
      </div>

      <ng-container *ngFor="let descriptionPart of descriptionParts">
        <cfas-description-part [descriptionPart]="descriptionPart"></cfas-description-part>
      </ng-container>
    </div>
  </section>
</div>
