<div id="wrapper">
  <section id="title" class="grey-section">
    <!-- [ngStyle]="(isHandset$ | async) && {'background-image': 'url(assets/static/images/style-images/pvc-pipes.jpg)'}"> -->
    <div class="text-center">
      <h1 class="jaeggers text-uppercase">Classes</h1>
    </div>
  </section>

  <section>
    <div class="container mx-auto col-10 col-md-8">
      <div class="row">
        <div class="col description text-center">
          Alle unsere Stunden beginnen am Whiteboard. Dort wird der Ablauf Deiner besten Stunde des Tages genau
          besprochen und das Workout erklärt. Nach einem gemeinsamen Warm-up wiederholen wir die nötigen Techniken und
          passen das Workout und die Movements entsprechend Deiner Bedürfnisse an. Dann geht’s ins Workout und
          schlussendlich gibt es noch einen gemeinsamen Cool-down.
        </div>
      </div>

      <ng-container *ngFor="let classDescription of classDescriptions">
        <cfas-class-description [classDescription]="classDescription"></cfas-class-description>
      </ng-container>
    </div>
  </section>
</div>
