<div id="wrapper">
  <section id="title" class="grey-section">
    <!-- [ngStyle]="(isHandset$ | async) && {'background-image': 'url(assets/static/images/style-images/pvc-pipes.jpg)'}"> -->
    <div class="text-center">
      <h1 class="jaeggers text-uppercase">Classes</h1>
    </div>
  </section>

  <section>
    <div class="container mx-auto col-10 col-md-8">
      <div class="row">
        <div class="col description text-center">
          Erlebe die faszinierende Welt unserer Trainingsstunden, in denen alles am Whiteboard
          seinen Anfang nimmt. Hier wird der Plan für die aufregendste Stunde Deines Tages
          präsentiert und das Workout detailliert erläutert. Wir starten gemeinsam mit einem
          motivierenden Warm-up, um anschließend die erforderlichen Techniken zu wiederholen und das
          Workout sowie die Bewegungsabläufe perfekt auf Deine individuellen Bedürfnisse
          abzustimmen. Danach tauchen wir voller Energie in das Workout ein, bevor wir uns
          schließlich einem gemeinsamen Cool-down hingeben, um den Körper sanft ausklingen zu
          lassen.
        </div>
      </div>

      <ng-container *ngFor="let descriptionPart of descriptionParts">
        <cfas-description-part [descriptionPart]="descriptionPart"></cfas-description-part>
      </ng-container>
    </div>
  </section>
</div>
