.row {
  margin: 0;
}

.col-md-8 {
  padding-left: 0;
  padding-right: 0;
}

header {
  margin-top: 100px;

  #title {
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #212121;
  }

  h1 {
    font-size: 9.0rem;
  }

  p {
    margin-top: -10px;
  }

  #profile-picture {
    margin-top: 40px;

    div {
      max-width: none;
    }

    img {
      width: 300px;
      box-shadow: 0 0 10px 0 #212121;
    }
  }
}

#interview {
  h4 {
    font-size: 1.7rem;
    font-weight: 800;
  }

  p {
    font-size: 1.6rem;
  }

}

.border {
  box-shadow: 0 0 7px 0 #212121;
}

#qualy-title {
  background-color: #f0f0f0;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 #212121;
}

#backButton {
  position: fixed;
  bottom: 10%;
  left: 5%;

  a {
    padding: 0;
    background-color: #f0f0f0;

    mat-icon {
      font-size: 5.0rem;
      height: 60px;
      width: 60px;
      line-height: 60px;
    }
  }
}
