<header>
  <div id="row justify-content-end">
    <div class="col-10 col-md-4 mx-auto mr-md-5 py-3 shadow-lg grey-section text-center">
      <p class="font-weight-bolder">Weiterleitung zu teamup</p>
      <button mat-stroked-button class="text-uppercase m-3 py-2 px-3 rounded-pill">Zum Kursplan*</button>
      <p class="font-weight-lighter">*Du wirst auf die externe Seite goteamup.com weitergeleitet.</p>
    </div>
  </div>
</header>

<section class="grey-section">
  <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</section>
