<header class="grey-section">
  <div id="row justify-content-end">
    <div class="col-10 col-md-4 mx-auto mr-md-5 py-3 w-auto shadow-lg text-center dark">
      <p class="font-weight-bolder">Weiterleitung zu teamup</p>
      <a mat-stroked-button href="https://goteamup.com/p/1695186-crossfit-am-see/" target="_blank"
        class="text-uppercase m-3 py-2 px-3 rounded-pill">Zum Kursplan*</a>
      <p class="font-weight-lighter">*Du wirst auf die externe Seite goteamup.com weitergeleitet.</p>
    </div>
  </div>
</header>
