<div class="row">
  <div class="col">
    <a href="http://crossfit.com" target="_blank"><img src="assets/images/logos/crossfit-logo.png"
        alt="CrossFit - Logo"></a>
  </div>
  <div class="col">
    <a href="http://journal.crossfit.com" target="_blank"><img src="assets/images/logos/crossfit-journal-logo.png"
        alt="CrossFit Journal - Logo"></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="http://romwod.com" target="_blank"><img src="assets/images/logos/romwod-logo.png" alt="ROMWOD - Logo"></a>
  </div>
  <div class="col">
    <a href="http://nocco.com" target="_blank"><img src="assets/images/logos/nocco-logo.png" alt="NOCCO - Logo"></a>
  </div>
  <div class="col">
    <a href="http://kettlebell-bodensee.de" target="_blank"><img src="assets/images/logos/kbb-logo.png"
        alt="Kettlebell Bodensee - Logo"></a>
  </div>
</div>
<div class="row">
  <div class="col">
    <a href="http://concept2.de" target="_blank"><img src="assets/images/logos/concept2-logo.png"
        alt="Concept2 - Logo"></a>
  </div>
</div>
