<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <mat-card class="contact-form-card">
    <mat-card-header class="text-center">
      <mat-card-title>Schreib uns doch!</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Vorname" formControlName="firstName">
            <mat-error *ngIf="contactForm.controls['firstName'].hasError('required')">
              <strong>Der Vorname wird benötigt</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nachname" formControlName="lastName">
            <mat-error *ngIf="contactForm.controls['lastName'].hasError('required')">
              <strong>Der Nachname wird benötigt</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row mb-md-3">
        <div class="col col-md-6">
          <mat-form-field class="full-width">
            <input matInput placeholder="E-Mail-Adresse" formControlName="email">
            <mat-error *ngIf="contactForm.controls['email'].hasError('required')">
              <strong>Die E-Mail-Adresse wird benötigt</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col col-md-4">
          <mat-form-field class="full-width">
            <mat-select placeholder="Betreff" formControlName="subject">
              <mat-option *ngFor="let subject of subjects" [value]="subject">
                {{ subject }}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="contactForm.controls['subject'].hasError('required')">
              <strong>Der Betreff wird benötigt</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col col-md-4">
          <mat-form-field class="full-width"
            *ngIf="this.contactForm.controls['subject'].value && this.contactForm.controls['subject'].value != 'Anderes'">
            <input matInput [min]="fromDate" [max]="toDate" [matDatepicker]="picker" placeholder="Wunschdatum"
              formControlName="wishDate" (dateChange)="setHours()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col col-md-4">
          <mat-form-field class="full-width" *ngIf="this.contactForm.controls['wishDate'].value">
            <mat-select placeholder="Uhrzeit" formControlName="hour">
              <mat-option *ngFor="let hour of hours" [value]="hour">
                {{ hour }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput [placeholder]="messageBox.placeholder" formControlName="message"
              [required]="messageBox.required"></textarea>
          </mat-form-field>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <mat-checkbox formControlName="agreement">DSGVO-Bedingungen gelesen</mat-checkbox>
        </div>
      </div>

      <mat-card-actions class="px-3">
        <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.invalid">Anfrage
          senden</button>
      </mat-card-actions>
    </mat-card-content>
  </mat-card>
</form>
