<div class="row">
    <div class="col">
        <a href="http://crossfit.com" target="_blank"><img src="assets/static/images/logos/crossfit-logo.svg" alt="CrossFit - Logo"></a>
    </div>
    <div class="col">
        <a href="http://journal.crossfit.com" target="_blank"><img src="assets/static/images/logos/crossfit-journal-logo.svg" alt="CrossFit Journal - Logo"></a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="http://romwod.com" target="_blank"><img src="assets/static/images/logos/romwod-logo.png" alt="ROMWOD - Logo"></a>
    </div>
    <div class="col">
        <a href="http://nocco.com" target="_blank"><img src="assets/static/images/logos/nocco-logo.svg" alt="NOCCO - Logo"></a>
    </div>
    <div class="col">
        <a href="http://kettlebell-bodensee.de" target="_blank"><img src="assets/static/images/logos/kbb-logo.png" alt="Kettlebell Bodensee - Logo"></a>
    </div>
</div>
<div class="row">
    <div class="col">
        <a href="http://concept2.de" target="_blank"><img src="assets/static/images/logos/concept2-logo.svg" alt="Concept2 - Logo"></a>
    </div>
</div>