@import "../../../assets/static/scss/variables";

#nav-list {
  a {
    text-decoration: none;
    color: white;
    padding-left: 8px;
  }

  .active:not(.mat-expanded) {
    background-color: rgba($color: white, $alpha: 0.1) !important;
  }
}

.nav-caption {
  display: inline-block;
  padding-left: 6px;
}
