#title {
  padding-top: 20vh;
  font-size: 9.0rem;

  @media (max-width: 960px) {
    background-size: cover;
  }

  h1 {
    font-weight: 600;
    font-size: 10.0rem;
    width: fit-content;
    margin: auto;

    @media (max-width: 960px) {
      font-size: 15vw;
      text-shadow:
        2px 2px 5px white,
        -2px 2px 5px white,
        2px -2px 5px white,
        -2px -2px 5px white;
    }
  }
}

section {
  height: 100%;

  @media (min-width: 960px) {
    background-image: url(src/assets/images/style-images/pvc-pipes.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: bottom right;
  }
}

.description {
  padding: 50px 70px;
  line-height: 3.5rem;
  background-color: white;

  @media (max-width: 960px) {
    padding: 20px;
  }

  .mat-stroked-button {
    width: 100%;
  }
}

.image {
  min-height: 200px;
  background-size: cover;
  background-position: center;

  @media (max-width: 960px) {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
  }
}

a {
  margin-top: 20px;
  margin-bottom: -15px;
  font-size: 1.1rem;
  color: white;
  background-color: rgba($color: #212121, $alpha: 0.75);
  border: solid 2px white;
  border-radius: 25px;

  &:hover {
    background-color: #212121;
  }
}
