<div id="wrapper">
  <section id="title" class="grey-section">
    <!-- [ngStyle]="(isHandset$ | async) && {'background-image': 'url(assets/static/images/style-images/pvc-pipes.jpg)'}"> -->
    <div class="text-center">
      <h1 class="jaeggers text-uppercase">Dein Einstieg</h1>
    </div>
  </section>

  <section>
    <div class="container mx-auto col-10 col-md-8">
      <div class="row">
        <div class="col description text-center">
          Entdecke in unseren Trainings die grenzenlose Kraft in Dir! Gemeinsam führen wir Dich
          behutsam an Deine Grenzen und wagen uns gelegentlich sogar ein Stückchen darüber hinaus.
          Wir möchten Deinen Horizont erweitern und Dich Schritt für Schritt auf alle
          Herausforderungen des Lebens vorbereiten. Schenke Dir die Chance, persönliches Wachstum zu
          erleben und sei bereit, Dein volles Potenzial zu entfalten!
        </div>
      </div>

      <div class="row my-4">
        <div
          id="first"
          class="col-12 col-md-4 image"
          [style.background-image]="'url(/assets/static/images/entry/first-683x1024.jpeg)'"
          [style.background-position]="'top'"
        ></div>
        <div
          class="col-12 col-md-8 description"
          [ngClass]="{ 'text-center': (isHandset$ | async) }"
        >
          <h2 class="mb-4">FIRST - Kostenlose Probetrainings</h2>
          <p>
            Wir freuen uns, Dich zu einer unvergesslichen und kostenlosen Probewoche in einer
            unserer regulären Klassen einzuladen! Lass Dich von unseren erfahrenen Coaches
            persönlich betreuen und informiere Dich bei unseren Mitgliedern über ihre Erfahrungen.
            Nutze diese großartige Gelegenheit, um in die Welt unseres Trainings einzutauchen und
            Dich umfassend beraten zu lassen. Worauf wartest Du noch? Komm vorbei und entdecke Dein
            neues Lieblings-Hobby!
          </p>
          <a
            mat-stroked-button
            [routerLink]="['/contact']"
            [queryParams]="{ trail: true }"
            class="float-right py-1 px-3 text-uppercase"
            >Zum Probetraining</a
          >
        </div>
      </div>

      <div class="row my-4">
        <div
          id="second"
          class="col-12 col-md-4 image"
          [style.background-image]="'url(/assets/static/images/entry/second-768x576.jpeg)'"
          [style.background-position]="'right'"
        ></div>
        <div
          class="col-12 col-md-8 description"
          [ngClass]="{ 'text-center': (isHandset$ | async) }"
        >
          <h2 class="mb-4">SECOND - Mitgliedschaft</h2>
          <p>Begeistert vom Probetraining? Finde die perfekte Mitgliedschaft für Dich!</p>
          <p>
            Du hast das Probetraining absolviert und bist begeistert von dem Erlebnis! Nun ist es an
            der Zeit, die ideale Mitgliedschaft für Dich zu wählen. Ganz entspannt und ohne Druck
            findest Du das passende Modell, das Deinen Bedürfnissen und Zielen entspricht. Bereit,
            um voller Energie durchzustarten? Dann komm an Bord und lass uns gemeinsam Deine
            Fitnessziele verwirklichen!
          </p>
          <a
            mat-stroked-button
            [routerLink]="['/offer/prices']"
            class="float-right py-1 px-3 text-uppercase"
            >Deine Mitgliedschaft</a
          >
        </div>
      </div>

      <!-- <div class="row my-4">
        <div
          id="third"
          class="col-12 col-md-4 image"
          [style.background-image]="'url(/assets/static/images/entry/third-683x1024.jpeg)'"
          [style.background-position]="'top'"
        ></div>
        <div
          class="col-12 col-md-8 description"
          [ngClass]="{ 'text-center': (isHandset$ | async) }"
        >
          <h2 class="mb-4">THIRD - Basic Classes</h2>
          <p>
            Unsere Basic Classes bringen Dir Schritt für Schritt die fundamentalen Grundlagen der
            verschiedenen Übungen im CrossFit näher. Diese Klassen empfehlen wir jedem
            Neueinsteiger, aber auch unseren „alten Hasen“, um sich regelmäßig Zeit zu nehmen, damit
            die Technik sitzt.
          </p>
          <a
            mat-stroked-button
            [routerLink]="['/offer/schedule']"
            class="float-right py-1 px-3 text-uppercase"
            >Dein Kursplan</a
          >
        </div>
      </div> -->

      <div class="row my-4">
        <div
          id="recovery"
          class="col-12 col-md-4 image"
          [style.background-image]="'url(/assets/static/images/entry/recovery-768x576.jpeg)'"
          [style.background-position]="'top'"
        ></div>
        <div
          class="col-12 col-md-8 description"
          [ngClass]="{ 'text-center': (isHandset$ | async) }"
        >
          <h2 class="mb-4">Recovery Phasen</h2>
          <p>Nach intensiver Anstrengung sehnt sich jeder Körper nach wohltuender Erholung!</p>
          <p>
            Gönn Dir und Deinem Körper die wohlverdienten "Rest-Days" – sie sind von essentieller
            Bedeutung für Dein Wohlbefinden. Entdecke die "Active Recovery Class" in unserem
            vielseitigen Kursangebot, die genau auf die Bedürfnisse der aktiven Regeneration
            zugeschnitten ist. Zudem bieten wir Dir jederzeit Zugang zu unserer exklusiven
            ROMWOD-AREA in der Werkstatt, um Deinem Körper gezielt Ruhe und Entspannung zu
            ermöglichen.
          </p>
          <a
            mat-stroked-button
            href="http://romwod.com"
            target="_blank"
            class="float-right py-1 px-3 text-uppercase"
            >What's ROMWOD?</a
          >
        </div>
      </div>
    </div>
  </section>
</div>
