<div id="wrapper">
  <section id="title"
    [ngStyle]="(isHandset$ | async) && {'background-image': 'url(assets/images/style-images/pvc-pipes.jpg)'}">
    <div class="text-center">
      <h1 class="jaeggers text-uppercase">Dein Einstieg</h1>
    </div>
  </section>

  <section class="grey-section">
    <div class="container mx-auto col-10 col-md-8">
      <div class="row">
        <div class="col description text-center">
          In unseren Trainings begleiten wir Dich an Deine Grenzen und manchmal auch ein Stückchen darüber hinaus. Wir
          möchten Deine Komfortzone erweitern und Dich Stück für Stück auf jegliche Situationen im Leben vorbereiten.
        </div>
      </div>

      <ng-container *ngFor="let classDescription of classDescriptions">
        <cfas-class-description [classDescription]="classDescription"></cfas-class-description>
      </ng-container>
    </div>
  </section>
</div>
