@import './cfas-theme-colors';

$primary: mat-palette($cfas-blue);
$accent: mat-palette($mat-indigo);
$warn: mat-palette($mat-red);

$my-light-theme: mat-light-theme($primary, $accent, $warn);
$my-dark-theme: mat-dark-theme($primary, $accent, $warn);
