#navbar {
  color: white;
  background-color: black;
  opacity: 0.95;
}

button {
  height: 100%;

  &:hover {
    background-color: rgba(white, 0.05);
  }

  &.active {
    border-bottom: solid 6px #0f64c8;
  }
}

.mat-menu-panel {
  width: fit-content;
}
