#navbar {
  color: white;
  background-color: black;
  opacity: 0.9;
}

button {
  height: 100%;

  &:hover {
    background-color: rgba(white, 0.05);
  }

  &.active {
    background-color: rgba(white, 0.1);
  }
}
