.page-wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;


  &::before {
    background-color: black;
    background-image: url(/assets/images/style-images/bg-floor.jpg);
    background-size: cover;
    position: fixed;

    content: '';
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
    will-change: transform;
    z-index: -1;
  }

  #title {
    padding-top: 50px;
    font-size: 9.0rem;

    @media (max-width: 960px) {
      padding-top: 100px;
      padding-bottom: 0;
    }

    h1 {
      font-weight: 700;
      font-size: 12.0rem;
      width: fit-content;
      margin: auto;

      text-shadow:
        2px 2px 10px black,
        -2px 2px 10px black,
        2px -2px 10px black,
        -2px -2px 10px black;

      @media screen and (max-width: 960px) {
        font-size: 15vw;
      }
    }
  }
}
