<div class="wrapper">
    <div *ngIf="externInfos.url">Wir leiten dich nun an
        <strong>{{ externInfos.url }}</strong>
        weiter. Bitte stimme der Weitergabe deiner Persönlichen Daten zu:</div>
    <div *ngIf="externInfos.name === 'google-maps'">
        Wir laden nun <strong>Google Maps</strong> um unseren Standort dort anzuzeigen. 
        Bitte stimme der Weitergabe deiner Persönlichen Daten zu:
    </div>
    <div class="my-3 checkbox">
        <mat-checkbox
            [(ngModel)]="aggreed"
            color="primary"
        >Ja, ich willige ein, dass meine IP-Adresse an den Server der Anbieters weitergegeben wird.
            Mir ist auch bekannt, der der Anbieter bösartige Cookies anlegen, auslesen und speichern
            kann.<br>Anbieterinformationen:<br>{{ externInfos.details }}</mat-checkbox>
    </div>
    <div class="d-flex justify-content-between my-3">
        <a mat-raised-button color="warn" (click)="submit(false)">
        Lieber nicht
    </a>
        <a mat-raised-button color="primary" (click)="submit(true)" [disabled]="!aggreed">
        <span class="material-icons">{{ externInfos.buttonIcon }}</span>
        Link folgen
    </a>
    </div>
    <div class="d-flex justify-content-between align-items-center">
        <a mat-stroked-button routerLink="/dataprotection" fragment="data" target="_blank">Cookie-Nutzung</a>
        <mat-checkbox
            [(ngModel)]="remember"
            color="primary"
        >Einwilligung merken</mat-checkbox>
    </div>
</div>
