.wrapper {
    width: 90%;
    margin: 20px auto;
}

::ng-deep .mat-checkbox-layout {
    white-space: normal !important;
}

::ng-deep .mat-checkbox-inner-container {
    margin-top: 3px !important;
}

.mat-checkbox {
    height: 35px;
    line-height: 40px;
}
