<header>
  <div class="overlay"></div>
  <video onloadedmetadata="this.muted=true" playsinline autoplay loop>
    <source src="assets/videos/Crossfit-8765.mp4" type="video/mp4">
  </video>
  <div id="mainLogo" class="container h-100">
    <div class="mx-auto text-center">
      <img src="assets/images/logos/LOGO-Crossfit-am-See-est2018-white.png" alt="Logo - CrossFit am See est. 2018">
      <div class="jaeggers">better&nbsp;together</div>
      <button mat-stroked-button [routerLink]="['/contact']" class="mt-5 py-2 px-3 text-uppercase">Gratis
        Probetraining</button>
    </div>
  </div>
</header>

<section class="grey-section">
  <div class="container mx-auto">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8">
        <div class="row">
          <div class="col-0 col-md" style="
            background-image: url(assets/images/CrossFit-in-100-words-thumbnail.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            ">
          </div>
          <div class="col-12 col-md text-center" style="background-color: #dddddd;">
            <div style="margin: 15%">
              <mat-icon class="big_icon" svgIcon="barbell"></mat-icon>
              <h3 class="text-uppercase my-3">Das tun wir hier!</h3>
              <p>CrossFit &#8211; konstant variierende, hochintensive funktionelle Bewegungen in Workouts, gepaart mit
                gesunder Ernährung.</p>
              <p>Unsere Trainings sind kurz, knackig und jeden Tag anders.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto mt-3 mt-md-0">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8">
        <div class="row">
          <div class="col-12 col-md text-center" style="background-color: #dddddd;">
            <div style="margin: 15%">
              <mat-icon class="big_icon" svgIcon="kettlebell"></mat-icon>
              <h3 class="text-uppercase my-3">Das bekommst Du!</h3>
              <p>Gemeinschaft, Spaß, Motivation und Verbesserung Deiner Lebensqualität. Durch konsistente Ausführung
                funktioneller Bewegungsabläufe, sichergestellt durch die Intensive Betreuung von uns Coaches in
                Kleingruppen (maximal 12 Personen).</p>
            </div>
          </div>
          <div class="col-0 col-md" style="
            background-image: url(assets/images/clean-progression-hang.jpeg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            ">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mx-auto">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8">
        <cfas-wod-overview></cfas-wod-overview>
      </div>
    </div>
  </div>
</section>

<section class="grey-section">
  <div class="container mx-auto">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8">
        <ng-container *ngFor="let pageTeaser of pagesTeaser; let i = index">
          <cfas-page-teaser [pageTeaser]="pageTeaser" [index]="i"></cfas-page-teaser>
        </ng-container>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container mx-auto">
    <div class="row justify-content-center">
      <div class="col-10 col-md-8">
        <cfas-partners class="text-center"></cfas-partners>
      </div>
    </div>
  </div>
</section>
