<div class="row justify-content-center">
  <div class="col-md-7 col-lg-5 px-0 pr-md-3">
    <mat-accordion>
      <mat-expansion-panel *ngFor="let wod of wodList; let i = index" [expanded]="i === dayOfWeekIndex">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ wod.dayOfWeek }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="pl-3">
          <ng-container *ngFor="let wodLine of wod.wod">{{ wodLine }}<br></ng-container>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div class="col-md-5 col-lg-7 mt-3 mt-md-0" style="
    background-image: url(assets/images/rig-bg-community.JPG);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-shadow: 10px 8px 13px 2px rgba(0,0,0,0.5);
    min-height: 300px;
  ">
  </div>
</div>
