.img-col {
  padding: 0;

  div {
    overflow: hidden;
    height: 100%;
  }

  img {
    width: 100%;
    height: auto;
    transition: transform .5s;

    @media screen and (min-width: 600px) {
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}
