$cfas-blue: (50 : #e2ecf8,
  100 : #b7d1ef,
  200 : #87b2e4,
  300 : #5793d9,
  400 : #337bd0,
  500 : #0f64c8,
  600 : #0d5cc2,
  700 : #0b52bb,
  800 : #0848b4,
  900 : #0436a7,
  A100 : #d1ddff,
  A200 : #9eb6ff,
  A400 : #6b90ff,
  A700 : #527dff,
  contrast: (50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $light-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text));
