@import "assets/scss/fonts";

@import "assets/scss/variables";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "assets/scss/reset";

@import "assets/scss/mat-themes";

h2 {
  font-weight: 700;
  font-size: 2.5rem !important;
}

h3 {
  font-weight: 600;
  font-size: 2.0rem !important;
}

section {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.grey-section {
  background-color: #f0f0f0;
}
