<header></header>

<section class="grey-section text-center">
  <div class="container mx-auto">

    <div class="row justify-content-center mb-5 pt-md-4">
      <div class="col-8">
        <h1 class="jaeggers mb-5">better together</h1>
        <p>Die Community steht bei uns im Mittelpunkt! Wir machen zusammen Sport, wir feiern gemeinsam Bestleistungen,
          essen gemeinsam und lachen gemeinsam.</p>
        <p class="font-weight-bold">Denn wir sind better together!</p>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-10">
        <div class="row">

          <div class="col-12 col-md-4">
            <div class="phil-card m-2 p-4">
              <h2 class="jaeggers">Happy</h2>
              <p>Der Spaß und die Freude am Sport, bringt uns zusammen und beides findet massig Platz in unseren
                Stunden.
              </p>
              <p>Denn Lachen ist gesund und gemeinsam lacht es sich bekanntlich doppelt so gut!</p>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="phil-card m-2 p-4">
              <h2 class="jaeggers">Healthy</h2>
              <p>Ein, bis ins hohe Alter, gesundes Leben zu führen ist unser Ziel.</p>
              <p>Da spielt nicht nur Sport eine Rolle, sondern auch Ernährung, Erholung, Gesellschaft und auch die Art
                und
                weise wie wir unseren Alltag leben. </p>
              <p>Gemeinsam betrachten wir immer wieder einzelne Themen aus diesen Gebieten und motivieren uns
                gegenseitig.
              </p>
            </div>
          </div>

          <div class="col-12 col-md-4">
            <div class="phil-card m-2 p-4">
              <h2 class="jaeggers">Hungry</h2>
              <p>Wir sind Hungrig. Nicht nur bezogen auf unsere Ernährung. Wir sind hungrig nach unseren Zielen welche
                wir
                uns setzen und fokussieren. Wir hören niemals auf uns weiterzuentwickeln, sind offen für Neues und
                lernen
                stets von den Besten.</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
