cfas-shop {
    #loading {
        height: calc(100vh - 50px);
        line-height: calc(100vh - 50px);
        width: 100%;
        text-align: center;
        mat-spinner {
            margin: auto;
        }
    }
}

.navbar-padding cfas-shop #loading {
    height: calc(100vh - 100px);
    line-height: calc(100vh - 100px);
}