<header></header>
<section class="grey-section">
  <div class="container mx-auto col-10">
    <div id="introduction" class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <h1 class="text-uppercase">Deine Mitgliedschaft</h1>
        <p>Deine Mitgliedschaft* bei CrossFit am See enthält eine Trainingseinheit einer beliebigen Klasse pro Tag.
          Zusätzlich kannst Du zum Ausgleich die ROMWOD-Area nutzen.</p>
        <p>*kündbar 10 Tage zum Monatsende</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <div><p class="jaeggers contract-name">CFAS</p><p class="jaeggers contract-name">Starter</p></div>
          <mat-card-content>
            <p class="text-left">Inkludiert</p>
            <ul>
              <li>1x Klasse pro Tag</li>
              <li>Newsletter und Facebook-Gruppe for Community und Accountability</li>
              <li>RomWOD</li>
              <li>SugarWOD optional zubuchbar</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <div><p class="jaeggers contract-name">CFAS</p><p class="jaeggers contract-name">CrossFitter</p></div>
          <mat-card-content>
            <p class="text-left">Inkludiert</p>
            <ul>
              <li>Zwei Klassen pro Tag (1 WOD + Extrastunde wie OpenGym, Gymnastics oder so)</li>
              <li>Newsletter und Facebook-Gruppe for Community und Accountability</li>
              <li>RomWOD</li>
              <li>SugarWOD optional</li>
              <li>HomeWOD-Paket</li>
              <li>Alle halbes Jahr 15 Minuten Zielgespräch</li>
              <li>Workshops intern 50% Nachlass</li>
              <li>20% Nachlass auf Personal Training</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <div><p class="jaeggers contract-name">CFAS</p><p class="jaeggers contract-name">CrossFitter</p><p class="jaeggers contract-name">PLUS</p></div>
          <mat-card-content>
            <p class="text-left">Inkludiert</p>
            <ul>
              <li>Zwei Klassen pro Tag (1 WOD + Extrastunde wie OpenGym, Gymnastics oder so)</li>
              <li>Newsletter und Facebook-Gruppe for Community und Accountability</li>
              <li>RomWOD</li>
              <li>SugarWOD optional</li>
              <li>HomeWOD-Paket</li>
              <li>Alle viertel Jahr ausführliches Zielgespräch</li>
              <li>Workshops intern gratis</li>
              <li>Workshops extern 50% Nachlass</li>
              <li>1x PT/halbes Jahr + 25% Nachlass auf Personal Training</li>
              <li>Zusatzprogramming</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col my-4 text-center">
        <button mat-stroked-button [routerLink]="['/contact']" [queryParams]="{trail: true}"
          class="text-uppercase">Kontakt aufnehmen</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4 my-4 pt text-center">
        <mat-card class="justify-content-center">
        <div><p class="jaeggers contract-name">Personal</p><p class="jaeggers contract-name">Training</p></div>
          <mat-card-content>
            <p class="price">80 €</p>
            <p class="per-month">pro Stunde</p>
            <p class="contract-period">Mitglieder erhalten 20%&nbsp;Rabatt. Staffelpreise auf Anfrage.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4 my-4 pt text-center d-flex align-items-center general-info-box">
        <div>
            <p class="font-weight-bold">Unsere Mitgliedschaften starten bei 90€/mtl.*</p>
            <p class="font-weight-bold">Berichte uns mehr über deine Ziele!</p>
            <p class="font-weight-bold">Wir beraten dich gerne was am besten zu dir und einen Zielen passt!</p>
            <p class="font-weight-lighter">*Bei Abschluss eines 12 Monats Laufzeitvertrages</p>
        </div>
      </div>
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <div class="jaeggers contract-name">DropIn</div>
          <mat-card-content>
            <p class="price">15 €</p>
            <p class="contract-period">Einzelbesuch ohne Vertragsbindung.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</section>
