<header></header>
<section class="grey-section">
  <div class="container mx-auto col-10">
    <div id="introduction" class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <h1 class="text-uppercase">Deine Mitgliedschaft</h1>
        <p>Deine Mitgliedschaft* bei CrossFit am See enthält eine Trainingseinheit einer beliebigen Klasse pro Tag.
          Zusätzlich kannst Du zum Ausgleich die ROMWOD-Area nutzen.</p>
        <p>* kündbar 10 Tage zum Monatsende</p>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <div class="jaeggers contract-name">ONE</div>
          <mat-card-content>
            <p class="price"><small>ab</small> 99 €</p>
            <p class="per-month">pro Monat</p>
            <p class="contract-period">Ein Monat Vertragslaufzeit</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <div class="jaeggers contract-name">SIX</div>
          <mat-card-content>
            <p class="price"><small>ab</small> 95 €</p>
            <p class="per-month">pro Monat</p>
            <p class="contract-period">Sechs Monate Vertragslaufzeit</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <div class="jaeggers contract-name">TWELVE</div>
          <mat-card-content>
            <p class="price"><small>ab</small> 90 €</p>
            <p class="per-month">pro Monat</p>
            <p class="contract-period">Zwölf Monate Vertragslaufzeit</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col my-4 text-center">
        <mat-card class="justify-content-center">
          <div class="jaeggers contract-name">AddOn</div>
          <mat-card-content>
            <p class="price">20 €</p>
            <p class="per-month">pro Monat</p>
            <p class="contract-period">Buchbar zur bestehenden Mitgliedschaft. Du ergänzt Deinen Vertrag um eine
              weitere Stunde pro Tag.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col my-4 text-center">
        <button mat-stroked-button [routerLink]="['/contact']" [queryParams]="{trail: true}"
          class="text-uppercase">Kontakt aufnehmen</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 my-4 pt text-center">
        <mat-card class="justify-content-center">
          <div class="jaeggers contract-name">Personal Training</div>
          <mat-card-content>
            <p class="price">80 €</p>
            <p class="per-month">pro Stunde</p>
            <p class="contract-period">Mitglieder erhalten 20%&nbsp;Rabatt. Staffelpreise auf Anfrage.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 my-4 text-center">
        <mat-card class="justify-content-center">
          <div class="jaeggers contract-name">DropIn</div>
          <mat-card-content>
            <p class="price">15 €</p>
            <p class="contract-period">Einzelbesuch ohne Vertragsbindung.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</section>
