<header></header>
<section class="grey-section">
  <div class="container mx-auto col-10">
    <div id="introduction" class="row">
      <div class="col-md-10 offset-md-1 text-center">
        <h1 class="text-uppercase">Deine Mitgliedschaft</h1>
        <p>Deine Mitgliedschaft bei CrossFit am See startet bei 90€ pro Monat.<br>Berichte uns mehr über deine Ziele!<br>Wir beraten dich gerne was am besten zu dir passt.</p>
      </div>
    </div>

    <div class="row">
      <div class="col my-4 text-center">
        <button mat-stroked-button [routerLink]="['/contact']" [queryParams]="{trail: true}"
          class="text-uppercase">Kontakt aufnehmen</button>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <p class="jaeggers contract-name">CFAS Starter<br>&nbsp;</p>
          <mat-card-content>
            <p class="text-left">Inkludiert</p>
            <ul>
              <li>Eine Klasse pro Tag</li>
              <li>Newsletter und Facebook-Gruppe for Community and Accountability</li>
              <li>RomWOD</li>
              <li>SugarWOD optional zubuchbar</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <p class="jaeggers contract-name">CFAS CrossFitter<br>&nbsp;</p>
          <mat-card-content>
            <p class="text-left">Inkludiert</p>
            <ul>
              <li>Zwei Klassen pro Tag (1&nbsp;WOD +&nbsp;1&nbsp;Extrastunde wie OpenGym, Gymnastics, etc.)</li>
              <li>Newsletter und Facebook-Gruppe for Community and Accountability</li>
              <li>RomWOD</li>
              <li>SugarWOD</li>
              <li>HomeWOD-Paket</li>
              <li>Halbjährig ausführliches Zielgespräch</li>
              <li>50% Rabatt auf interne Workshops</li>
              <li>20% Rabatt auf Personal Training</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-4 my-4 text-center">
        <mat-card class="justify-content-center">
          <p class="jaeggers contract-name">CFAS CrossFitter<br>PLUS</p>
          <mat-card-content>
            <p class="text-left">Inkludiert</p>
            <ul>
              <li>Zwei Klassen pro Tag (1&nbsp;WOD +&nbsp;1&nbsp;Extrastunde wie OpenGym, Gymnastics, etc.)</li>
              <li>Newsletter und Facebook-Gruppe for Community and Accountability</li>
              <li>RomWOD</li>
              <li>SugarWOD</li>
              <li>HomeWOD-Paket</li>
              <li>Vierteljährig ausführliches Zielgespräch</li>
              <li>100% Rabatt auf interne Workshops</li>
              <li>50% Rabatt auf externe Workshops</li>
              <li>Ein Personal Training halbjährig</li>
              <li>25% Rabatt auf Personal Training</li>
              <li>Zusatz-Programming</li>
            </ul>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

    <div class="row">
      <div class="col-12 col-md-6 my-4 pt text-center">
        <mat-card class="justify-content-center">
        <div><p class="jaeggers contract-name">Personal Training</p></div>
          <mat-card-content>
            <p class="price">80 €</p>
            <p class="per-month">pro Stunde</p>
            <p class="contract-period">Staffelpreise auf Anfrage.</p>
          </mat-card-content>
        </mat-card>
      </div>
      <div class="col-12 col-md-6 my-4 text-center">
        <mat-card class="justify-content-center">
          <div class="jaeggers contract-name">DropIn</div>
          <mat-card-content>
            <p class="price">13 €</p>
            <p class="contract-period">Einzelbesuch ohne Vertragsbindung.</p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>

  </div>
</section>
