@import '../../../../assets/static/scss/mixins';

@include button-bordered;

header {
  height: 50%;
  background-image: url(src/assets/static/images/style-images/mitgliedschaften.jpg);
  background-size: cover;
  background-position-y: center;
}

#introduction {
  h1 {
    font-weight: 600;
    font-size: 4rem;
    letter-spacing: 1.5rem;

    @media (max-width: 960px) {
      font-size: 5vw;
      letter-spacing: 0.7rem;
    }
  }

  p {
    font-size: 2rem;
    font-weight: 300;

    @media (max-width: 960px) {
      font-size: 3.5vw;
    }
  }
}

mat-card {
  height: 100%;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;

  .price {
    font-size: 5rem;
    padding-bottom: 0;

    small {
      font-size: 2rem;
    }
  }

  .per-month {
    margin-top: -10px;
    font-size: 2rem;
  }

  .flex-top {
    flex-grow: 1;
  }
}

.contract-name {
  font-size: 7rem;
  line-height: 7rem;
  font-weight: 700;
  margin-bottom: -30px;
}

mat-card-content {
  margin-top: 40px;
  margin-bottom: auto;

  .highlight {
    font-weight: bold;
  }

  ul {
    margin-bottom: 0;
    text-align: left;
  }
}
