header {
  height: 50%;
  background-image: url(src/assets/static/images/style-images/mitgliedschaften.jpg);
  background-size: cover;
  background-position-y: center;
}

#introduction {
  h1 {
    font-weight: 600;
    font-size: 4.0rem;
    letter-spacing: 1.5rem;

    @media (max-width: 960px) {
      font-size: 5vw;
      letter-spacing: 0.7rem;
    }
  }

  p {
    font-size: 2.0rem;
    font-weight: 300;

    @media (max-width: 960px) {
      font-size: 3.5vw;
    }
  }
}

mat-card {
  height: 100%;
  padding: 50px 25px;
  display: flex;
  flex-direction: column;

  .price {
    font-size: 5.0rem;
    padding-bottom: 0;

    small {
      font-size: 2.0rem;
    }
  }

  .per-month {
    margin-top: -10px;
    font-size: 2.0rem;
  }

  .flex-top {
    flex-grow: 1;
  }
}

.contract-name {
  font-size: 7.0rem;
  line-height: 7.0rem;
  font-weight: 700;
  margin-bottom: -30px;
}

mat-card-content {
  margin-top: 40px;
  margin-bottom: auto;

  .highlight {
    font-weight: bold;
  }

  ul {
    margin-bottom: 0;
    text-align: left;
  }
}

button {
  font-size: 2.2rem;
  border: solid 2px #212121 !important;
  border-radius: 25px;

  &:hover {
    background-color: rgba($color: #212121, $alpha: 0.1);
  }
}

.self-center {
  margin-left: auto;
  margin-right: auto;
}

.text-left {
  text-align: left;
}

.text-bold, th {
  font-weight: bold;
}

table {
  td, th {
    border: 1px solid #121212;
    font-size: 2.2rem;
    padding: 20px;
  }
}
