<header></header>

<section class="grey-section text-center">
  <div class="container mx-auto col-10 px-4">
    <div class="row justify-content-center mb-4 pt-md-4 p-4">
      <h1 class="jaeggers mt-4 mb-2">better together</h1>
    </div>
  </div>

  <div class="container mx-auto col-10 px-4">
    <div
      class="row justify-content-center mb-4 pt-md-4"
      [ngClass]="{ roof: (isHandset$ | async) === false }"
    >
      <div>
        <p>
          Unter dem leuchtenden Leitbild "HAPPY. HEALTHY. HUNGRY."<br />rücken wir bei uns die
          COMMUNITY ins strahlende Zentrum und auf den höchsten Gipfel!
        </p>
        <p>
          Gemeinsam erleben wir sportliche Höhenflüge, bejubeln unsere Bestleistungen<br />und
          genießen gesellige Mahlzeiten voller Freude und Lachen.
        </p>
        <p class="font-weight-bold">
          Denn wir sind <i class="font-weight-bold">better together!</i>
        </p>
      </div>
    </div>
  </div>

  <div class="container mx-auto col-10">
    <div class="row justify-content-center">
      <div class="col-12 col-md-4 mb-4">
        <div class="phil-card p-4">
          <h2 class="jaeggers">Happy</h2>
          <p>
            Der Zauber des Sports vereint uns in fröhlicher Geselligkeit, wobei unsere gemeinsamen
            Stunden von ausgelassener Freude und Begeisterung erfüllt sind. Denn Lachen ist nicht
            nur Balsam für die Seele, sondern auch ein wunderbarer Weg, um gemeinsam doppelt so viel
            Freude und Gesundheit zu erfahren!
          </p>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <div class="phil-card p-4">
          <h2 class="jaeggers">Healthy</h2>
          <p>
            Unser Ziel ist ein vitales Leben bis ins hohe Alter durch ganzheitlichen Ansatz. Dazu
            zählen ausgewogene Ernährung, Erholung, soziale Interaktion und bewusster Alltag.
            Begleite uns auf dieser inspirierenden Reise, um gemeinsam motiviert die beste Version
            von uns selbst zu entfalten.
          </p>
        </div>
      </div>

      <div class="col-12 col-md-4 mb-4">
        <div class="phil-card p-4">
          <h2 class="jaeggers">Hungry</h2>
          <p>
            Unser Hunger treibt uns an. Doch dieser Hunger geht weit über die Grenzen unserer
            Ernährung hinaus. Er spiegelt unsere unersättliche Leidenschaft wider, die Ziele zu
            erreichen, die wir uns ehrgeizig setzen und auf die wir uns fokussieren. Ständig streben
            wir nach persönlicher Weiterentwicklung, begegnen dem Neuen mit offenen Armen und lassen
            uns von den Besten inspirieren, um stets über uns hinauszuwachsen.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
