cfas-dictionary {
    #wrapper {
        position: relative;
        overflow: hidden;
        background-color: #212121;
        // background-image: url(src/assets/static/images/style-images/kw34.jpg);
        background-image: url(src/assets/static/images/style-images/bg-floor-1536x1152.jpg);
        background-size: cover;
        .overlay {
            min-height: calc(100vh - 50px);
            background-color: rgba($color: #000000, $alpha: 0.75);
            padding-top: 55px;
        }
        .container {
            .mat-form-field {
                width: 400px;
                max-width: 80%;
                margin-bottom: 5vh;
            }
            .mat-form-field-wrapper {
                height: 40px;
                line-height: 40px;
                width: 100%;
            }
            .mat-form-field-flex {
                background-color: #dddddd;
                border: none;
                border-radius: 25px;
                box-shadow: inset 0 0 7px 0 black;
                .mat-form-field-infix {
                    padding: 0;
                    border: none;
                }
                .mat-form-field-outline {
                    display: none;
                }
                .query-input::placeholder {
                    color: #212121;
                }
                mat-icon {
                    cursor: pointer;
                }
            }
            .no-result {
                color: white;
                font-size: 2.5rem;
            }
            .item {
                padding: 15px 25px;
                h2 {
                    color: #0f64c8;
                }
                p {
                    text-align: center;
                    color: white;
                }
            }
        }
    }
}

.navbar-padding cfas-dictionary #wrapper .overlay {
    min-height: calc(100vh - 100px);
    padding-top: 25px;
}